*{
    margin: 0%;
    padding: 0%;
}
}
.main{
    width: 100%;
    height: 100vh;
}
#head{
    width: 90%;
    height: 80vh;
    position: relative;
    left: 50px;
}
.logo{
 width: 25%;
 height: 190px;
   border-radius: 100%;
   float: left;
   position: absolute;
  left: 80px;
   top:430px;
}
#logo{
    border-radius: 100%;
    width: 80%;
    height: 190px;
    border: 5px solid whitesmoke;
    float: left;
    position: relative;
    right: 5px;
}