*{
    margin: 0;
    padding: 0;
}
.parent{
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-around; */
}
.box1{
    background-image: url("practical/website/images/pattern.png");
}
.custm{
    padding-top: 200px;
    margin-left: 20px;
}
.btn i{
    padding-top: 5px;
}
.btn{
    background-color: rgb(102, 151, 182);
    color: white;
    border: none;
  display: flex;
  justify-content: end;
 justify-content: flex-end;
  
}
button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    /* background-color: blue; */
}
button .aa i{
    color: white;
    font-size: 10px;
}  
.custm.aa{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.aa #btn1{
    background-color: rgb(102, 151, 182);
}
.aa #btn2{
    background-color: rgb(19, 112, 170);

}
.pic{
    /* width: 100%; */
    /* height: auto; */
    margin-top: 50px;
    background-color: whitesmoke;
}
.img{
   /* transform: skew(3deg); */
   /* border-radius: 5px; */
  padding-top: 20px;
  padding-left: 100px;
 
}
.img img{
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.peragraph{
    margin-left: 100px;
    width: 300px;
    border-radius: 5px;
    height: 250px;
    background-color: rgb(102, 151, 182);
   color: white;
}
.peragraph h2{
    padding-top: 20px;
    padding-left: 10px;
}
.peragraph p{
    padding-top: 10px;
    padding-left: 15px;

}
footer{
    box-shadow: inset 2px 2px 2px 2px rgb(143, 143, 143);
    margin-top: 300px;
    padding-top: 50px; 
    padding-left: 50px; 
    padding-bottom: 50px;
    background-color: rgb(248, 248, 255);
}
/* footer .icon{

   background-color: white;
  
} */
footer .icon i{
   font-size: 35px;
   align-items: center;
   border-radius: 50%;
   width: 50px;
   height: 25px;
   margin-top: 10px;
   /* padding-top: -20px; */
   /* padding-bottom: 20px; */
   padding-left: 10px;
   background-color: white;
}

footer  a i{
    padding-top: 10px;
    margin-left: 30px;
    font-size: 100px;
    border: none;
    padding-bottom: 50px;
}
.list{
     padding-top: 50px;
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    text-decoration: none;
}
.list ul{
    /* padding-top: 20px; */
    list-style: none;
    text-decoration: none;
}
.list ul a{
    padding-top: 20px;
    color: rgb(94, 91, 91);
}
.list ul a:hover{
    color: black;
    text-decoration: none;
}
.pera{
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(61, 61, 61);
}

.pera a{
    color: black;
    text-decoration: none;
}

